name: GoReleaser

# https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#release
# https://github.com/marketplace/actions/goreleaser-action#run-on-new-tag
on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  goreleaser:
    name: GoReleaser
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6 # https://github.com/marketplace/actions/checkout
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6 # https://github.com/marketplace/actions/setup-go-environment
        with:
          go-version-file: go.mod
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6 # https://github.com/marketplace/actions/goreleaser-action
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
